.table-row:hover {
    cursor: pointer;
    background-color: #61dafb;
}

.status {
    display: flex;
    flex-wrap: wrap;
}

pre {
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .8rem;
}